* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: $white;
}

body {
    width: 100%;
}

p {
    font-size: 12px;
    color: #929292;
}

/* Color variables */
$blue: #5eaeb2;
$yellow: #dfb84c;
$brown: #745252;
$cream: #d1ccbf;
$black: #222124;
$dark: #535965;
$pink: #d9948c;
$dark-brown: #40180f;
$white: #fff;
$navy-blue: #3672d8;

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    background: transparent;
    width: 100%;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    li {
        padding: 0 20px;

        a {
            font-size: 16px;
            font-weight: 200;
            color: gray;
            transition: 0.3s ease;

            &:hover,
            &.active {
                color: white;
                background-color: $navy-blue;
                padding: 4px 8px;
                border-radius: 2px;
            }
        }
    }
}

.mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.tag {
    padding: 15px 0;
}

/* Product Section */

.container {
    padding: 20px 80px;
}

.products {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.product-container {
    padding-top: 60px;
    padding-bottom: 50px;
}

.card {
    width: 300;
    height: 300px;
    padding: 25px;
    background-color: #f4f3f1;
    border-radius: 10px;
    text-align: left;
    display: flex;
    align-items: flex-end;
    cursor: pointer;

    &:hover {
        border: 2px;
        box-shadow: 0 2px 0 2px rgb(190, 206, 233);
        //transform: scale(1.1);
        height: 320px;

        .buy-button {
            display: block;
        }
    }
}

.image .img {
    position: absolute;
    left: 25%;
    top: -10%;
    width: 50%;
    height: 200px;
    border-radius: 10px;
}

.product-name {
    font-size: 15px;
}

.product-container {
    position: relative;
}

.product-description {
    padding-bottom: 20px;
    padding-top: 20px;
    color: #707070;
}

.last {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

/* Color option definition */
.color-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.blue {
    background-color: $blue;
}

.yellow {
    background-color: $yellow;
}

.dark {
    background-color: $dark;
}

.brown {
    background-color: $brown;
}

.cream {
    background-color: $cream;
}

.black {
    background-color: $black;
}

.pink {
    background-color: $pink;
}

.white{
    background-color: $white;
}
.price {
    font-weight: bold;
}

.buy-button {
    background-color: #3672d8;
    color: $white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
    display: none;
}

/* Show more button */

.more-button {
    border: 1px solid #3c75d9;
    background-color: $white;
    color: #3c75d9;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* More items to be shown */

#more-items {
    display: none;
}

/* Media query tablet*/

@media (max-width: 799px) {
    #nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #a9a9a9;
        padding: 80px 0 0 10px;
        z-index: 2;
        transition: 0.3s;

        li {
            margin-bottom: 25px;
        }
    }

    #nav.active {
        right: 0px;
    }

    .mobile {
        display: flex;
        align-items: center;

        i {
            font-size: 24px;
        }
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .last {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}

/* Media query mobile phone*/

@media (max-width: 477px) {
    .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .mobile {
        display: flex;
        align-items: center;

        i {
            font-size: 24px;
            padding: 5px;
        }
    }
}
